<!DOCTYPE html>
<html>
<head>
<style>
.redtext {
	color: red;
}
</style>
</head>
<body>

<h1 class="redtext">LAB680 Signature Webio Lab demo</h1>
<p>by Fred,Patrick,Eric,Jacob,Lucas,Elkan Dec,18,2019</p>
</body>
</html>
<title> WEBIO Control Web App</title>
<link rel="styleSheet" href="/static/style.css"/>
</head>
<body>
<img src="/static/lab680_0.png" width="400px" height="150px" alt="Lab680 Symbol"/>
<h2>System Diagram</h2>
<img src="/static/webio_c1.png" width="600px" height="300px" alt="WebIO Camera Symbol"/>
<h2>Led Control</h2>
<h3> RED LED CNTRL ==> 
<a href ="/ledRed/on" class="button">TURN ON</a> 
<a href="/ledRed/off" class = "button">TURN OFF</a>
</h3>
<h3> YELLOW LED CNTRL ==> 
<a href="/ledYellow/on" class="button">TURN ON</a> 
<a href="/ledYellow/off" class="button">TURN OFF</a>
</h3>
<h3> GREEN LED CNTRL ==> 
<a href="/ledGreen/on" class="button">TURN ON</a> 
<a href="/ledGreen/off" class="button">TURN OFF</a>
</h3>
<h2>Status</h2>
<h3> RED LED --> {{ledRed}}</h3>
<h3> YELLOW LED --> {{ledYellow}}</h3>
<h3> GREEN LED --> {{ledGreen}}</h3>
<br>
<h3> SELF TEST ==> 
<a href="/selftest" class="button">RUN</a> 
</h3>
<h3> Self test result --> {{selftestres}}</h3>
</body>
</html> 

